body{
    color: black;
    background-color:  beige;
    font-family: "Open Sans", sans-serif;
}
#b{
    background-color: beige;
}
 .row{
    align-items: center;
    background-color: rgb(18,18,18);;
}
li{
    margin-left: 80px;
    border-radius: 2px;
    background-color: rgb(154, 99, 236);
    border: 2px solid rgb(154, 99, 236);
}
li:first-child{
    margin-left: 0px;
}
a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
#webcam-main{
    border: 1px solid  black;
    height : 100%;
}
#webcam-container{
    margin-left: 33.3%;
}
#label-main{
    border: 1px solid black;
    height : 100%;
}
a{
    color : lightgray;
}
#button{
    background-color: rgb(112, 230, 230);
    font-weight: bold;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 45%;
    margin-right: 35%;
}
#button:hover{
    background-color: rgb(72, 177, 177);
    border: 1px solid black;
}
#title{
    margin-left: 1%;
    color: lightgray;
}
#title2{
    margin-left: 28%;
    border: none;
}
#nav{
    border-bottom: 1px solid rgb(109, 55, 190);;
}