body{
    color: black;
    background-color:  rgb(241, 241, 233);
    font-family: "Open Sans", sans-serif;
}
#b{
    background-color: rgb(243, 243, 235);
}
 .row{
    align-items: center;
    background-color: rgb(18,18,18);;
}
li{
    margin-left: 5px;
    border-radius: 2px;
    background-color: rgb(154, 99, 236);
    border: 2px solid rgb(154, 99, 236);
}
li:first-child{
    margin-left: 0px;
}
a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
#webcam-main{
    border: 1px solid  black;
    height : 100%;
}
#webcam-container{
    margin-left: 33.3%;
}
#label-main{
    border: 1px solid black;
    height : 100%;
}
a{
    color : lightgray;
}
#button{
    background-color: rgb(112, 230, 230);
    font-weight: bold;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 45%;
    margin-right: 35%;
}
#button:hover{
    background-color: rgb(72, 177, 177);
    border: 1px solid black;
}
#title{
    margin-left: 1%;
    color: lightgray;
}
#title2{
    margin-left: 28%;
    border: none;
}
#nav{
    border-bottom: 1px solid rgb(109, 55, 190);;
}

@media screen and (max-width: 600px) {
    .row .login-container{
        float: none;
    }
    .row a, .row input[type=text], .row .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
     border: 1px solid #ccc;
    }
}